<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="connection" connectionString="Provider=SQLOLEDB;Data Source=121.35.251.53:453;UID=sa;pwd=A.b.c.d.1234;DATABASE=schooljw;" providerName="System.Data.OleDb" />
    </connectionStrings>
    <appSettings>
        <add key="TemplateEntity" value="Template\Entity.tt"/>
        <add key="TemplateDao" value="Template\Dao.tt"/>
        <add key="TemplateDaoImpl" value="Template\DaoImpl.tt"/>
        <add key="TemplateService" value="Template\Service.tt"/>
        <add key="TemplateServiceImpl" value="Template\ServiceImpl.tt"/>
        <add key="TemplateController" value="Template\Controller.tt"/>
        <add key="TemplateJsController" value="Template\newjs\MainController.tt"/>
        <add key="TemplateJsotherController" value="Template\newjs\OtherController.tt"/>
        <add key="TemplateJsdetailController" value="Template\newjs\DetailController.tt"/>
        <add key="TemplateJsViewMain" value="Template\newjs\MainLayout.tt"/>
        <add key="TemplateJsViewGrid" value="Template\newjs\MainGrid.tt"/>
        <add key="TemplateJsViewDetail" value="Template\newjs\detailLayout.tt"/>
        <add key="TemplateJsViewform" value="Template\newjs\detailForm.tt"/>
        <add key="TemplateJsViewquerypanel" value="Template\newjs\MainQueryPanel.tt"/>
        <add key="ProjectPackageName" value="com.zd.school"/>
        <add key="ProjectName" value="school"/>
    </appSettings>
</configuration>