<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="Provider=SQLOLEDB;Data Source=(local);UID=sa;pwd=sql2008;DATABASE=fore;" providerName="System.Data.OleDb" />
  </connectionStrings> 
  <appSettings>
    <add key="TemplateEntity" value="Template\Entity.tt"/>
    <add key="TemplateDataAccess" value="Template\DataAccess.tt"/>
  </appSettings>
</configuration>